<% layout('layouts/admintemplate') %>
<div class="container">
	<div class="col-6 offset-3">
		<h1>Create Products</h1>
		<form action="/admin/add/product" method="POST">
			<label for="name">Product Name</label>
			<div class="input-group mb-3">
				<input
					name="name"
					id="name"
					type="text"
					class="form-control"
					placeholder="Enter name"
					aria-label="Product name"
				/>
			</div>
			<label for="num">Unit Price</label>
			<div class="input-group mb-3">
				<span class="input-group-text">$</span>
				<input
					id="num"
					name="price"
					type="number"
					class="form-control"
					aria-label="Amount (to the nearest dollar)"
				/>
				<span class="input-group-text">.00</span>
			</div>

			<label for="basic-url" class="form-label">Image URL</label>
			<div class="input-group mb-3">
				<input
					name="image"
					type="text"
					class="form-control"
					id="basic-url"
					placeholder="https://example.com/imageUrl"
					aria-describedby="basic-addon3"
				/>
			</div>
			<label for="select" class="form-label">Category</label>
			<select
				name="category"
				id="select"
				class="form-select mb-3"
				aria-label="Default select example"
			>
				<option class="text-muted" selected>Select product category</option>
				<% for(let cat of categories){ %>
				<option value="<%= cat %>"><%= cat %></option>
				<%} %>
			</select>

			<div class="input-group mb-3">
				<span class="input-group-text">Product Ingredients</span>
				<textarea
					name="ingredients"
					class="form-control"
					aria-label="With textarea"
					placeholder="Product description"
				></textarea>
			</div>
			<div class="text-center">
				<button class="btn btn-success">Create Product</button>
			</div>
		</form>
	</div>
</div>
