<% layout('layouts/confirmationTemplate') %>
<div>
	<h1>Your order has been placed!</h1>
	<div>
		<p class="d-flex justify-content-center">
			Order ID&colon; <%= order._id %>
		</p>
		<% if(currentUser){%>
		<p>Your order has been saved to your account!</p>
		<p>
			To view your order's progress
			<a class="btn btn-sm btn-primary" href="/order/status/<%= order._id %>"
				>click here!</a
			>
		</p>
		<% } else{%>
		<p>
			To track your order's progress
			<a data-bs-toggle="modal" data-bs-target="#loginModal">Login</a>
		</p>
		<p>If you don't have an account <a href="/register">Sign up</a></p>
		<% } %>
		<p>To place another order <a href="/order">click here!</a></p>
	</div>
</div>
