<section>
	<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
		<div class="container-fluid">
			<a class="navbar-brand" href="/order/menu">Chef Vicky's Kitchen</a>
			<button
				class="navbar-toggler"
				type="button"
				data-bs-toggle="collapse"
				data-bs-target="#navbarNav"
				aria-controls="navbarNav"
				aria-expanded="false"
				aria-label="Toggle navigation"
			>
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNavDropdown">
				<div class="navbar-nav">
					<div class="nav-item dropdown">
						<a
							class="nav-link dropdown-toggle border-end pe-2"
							href="#"
							id="navbarDropdownMenuLink"
							role="button"
							data-bs-toggle="dropdown"
							aria-expanded="false"
						>
							Menu
						</a>
						<ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
							<li>
								<a class="dropdown-item" href="/product">View Products</a>
							</li>
							<li>
								<a class="dropdown-item" href="/product/add">Add New Product</a>
							</li>
						</ul>
					</div>
					<div class="nav-item dropdown">
						<a
							class="nav-link dropdown-toggle border-end pe-2"
							href="#"
							id="navbarDropdownMenuLink"
							role="button"
							data-bs-toggle="dropdown"
							aria-expanded="false"
						>
							Orders
						</a>
						<ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
							<li>
								<a class="dropdown-item" href="/order/index?status=pending"
									>Pending Orders</a
								>
							</li>
							<li>
								<a class="dropdown-item" href="/order/index?status=approved"
									>Approved Orders</a
								>
							</li>
							<li>
								<a class="dropdown-item" href="/order/index?status=completed"
									>Completed Orders</a
								>
							</li>
						</ul>
					</div>
					<div class="nav-item dropdown">
						<a
							class="nav-link dropdown-toggle border-end pe-2"
							href="#"
							id="navbarDropdownMenuLink"
							role="button"
							data-bs-toggle="dropdown"
							aria-expanded="false"
						>
							Account
						</a>
						<ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
							<% if(!currentUser) { %>
							<li>
								<a class="dropdown-item" href="/admin/login">Login</a>
							</li>
							<% } else{ %>
							<li>
								<a class="dropdown-item" href="/admin/logout">Logout</a>
							</li>
							<li>
								<a class="dropdown-item" href="/admin/register"
									>Register new admin</a
								>
							</li>
							<li>
								<a class="dropdown-item" href="/admin/view">View admins</a>
							</li>
							<%} %>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</nav>
</section>
