<nav class="navbar navbar-dark bg-dark px-2">
	<div class="container-md">
		<a class="navbar-brand" href="/">Chef Vickys Kitchen</a>
		<div class="navbar-nav d-flex flex-md-row flex-sm-wrap">
			<div class="me-3">
				<% if(!startOrder) {%>
				<form action="/order/start" class="formStartOrder" method="POST">
					<a class="nav-link text-white fw-bold btnStartOrder" href="#"
						>START YOUR ORDER</a
					>
				</form>
				<% } else{%>
				<form action="/order/end" class="formEndOrder" method="POST">
					<a class="nav-link text-white fw-bold btnEndOrder" href="#" 
						>Cancel Order</a>
				</form>
				<% } %>
			</div>
			<% if(!currentUser) { %>
				<div class="me-2">
					<a href="/login" class="btn btn-light btn-md">Login</a>
				</div>

				<div class="me-2">
					<a href="/register" class="btn btn-dark btn-md">Sign Up</a>
				</div>
								
			<%} else { %>
				<a class="nav-link" href="/logout">Logout</a>
			<% } %>
		</div>
	</div>				 
</nav>
<div class="container-md mb-3">
	<ul class="nav nav-pills nav-justified">
		<li class="nav-item">
			<a class="nav-link <%= url === "/order/contact" ?
			"active":"" %>" aria-current="page" href="/order/contact"
			>Contact And Payment</a>
		</li>
		<li class="nav-item">
			<a class="nav-link <%= url === "/order/review" ?
			"active":"" %>" aria-current="page" href="/order/review"
			>Review</a>
		</li>
		<li class="nav-item">
			<a class="nav-link <%= url === "/order/success" ?
			"active":"" %>" href="/order/success">Completed</a>
		</li>
	</ul>

</div>
							
		
