<nav class="navbar navbar-dark bg-dark px-2 mb-3">
	<div class="container-md">
		<a class="navbar-brand" href="/">Chef Vickys Kitchen</a>
		<div class="navbar-nav d-flex flex-row row align-items-center">
			<div class="me-sm-2 col-12 col-sm-auto">
					<% if(!startOrder) {%>
					<form action="/order/start" class="formStartOrder" method="POST">
						<a class="nav-link text-white fw-bold btnStartOrder" href="#"
							>START YOUR ORDER</a
						>
					</form>
					<% } else{%>
					<form action="/order/end" class="formEndOrder" method="POST">
						<a class="nav-link text-white fw-bold btnEndOrder" href="#"
							>Cancel Order</a
						>
					</form>
					<% } %>
				</div>
				<% if(!currentUser) { %>
				<div class="me-sm-2 col-auto px-sm-0 pe-1">
					<a href="/login" class="btn btn-light">Login</a>
				</div>

				<div class="col-auto px-sm-0 ps-1">
					<a href="/register" class="btn btn-secondary">Sign Up</a>
				</div>

				<%} else { %>
				<div class="col-auto">
					<a class="nav-link" href="/logout">Logout</a>
				</div>
				<% } %>
			</div>
		</div>
	</div>
</nav>
<div class="container-lg mb-5">
	<ul class="nav nav-pills nav-justified">
		<li class="nav-item">
			<a class="nav-link <%= url === "/order" ? "active":"" %> " aria-current="page" href="/order"
				>1. Verify your address.</a
			>
		</li>
		<li class="nav-item">
			<a class="nav-link <%= url === "/order/date" ? "active":"" %> "" aria-current="page" href="/order/date"
				>2. Choose a delivery date.</a
			>
		</li>
		<li class="nav-item">
			<a class="nav-link <%= url === "/order/menu" ? "active":"" %> "" href="/order/menu">3. Add your meal.</a>
		</li>
		<li class="nav-item">
			<a
				class="nav-link <%= url === "/order/checkout" ? "active":"" %>"
				href="/order/checkout"
				tabindex="-1"
				aria-disabled="true"
				>4. Checkout.</a
			>
		</li>
	</ul>
</div>
