<% layout('layouts/boilerplate') %>
<form action="/login" method="POST" class="needs-validation mb-3" novalidate>
	<div
		class="
			col-lg-6 col-12
			offset-lg-3
			card
			border-0
			shadow
			p-3
			mb-5
			bg-body
			rounded
		"
	>
		<div class="card-body">
			<h1 class="text-center">Login</h1>
			<div class="row">
				<div class="col-12 mb-3">
					<label class="form-label" for="username">Username*</label>
					<input
						class="form-control"
						type="text"
						name="username"
						id="username"
						required
					/>
				</div>
				<div class="col-12 mb-3">
					<label class="form-label" for="password">Password*</label>
					<input
						class="form-control"
						type="password"
						name="password"
						id="password"
						required
					/>
				</div>
			</div>
			<p>* Required Field</p>
			<div class="text-sm-end text-center">
				<button class="btn btn-success btn-lg">Login</button>
			</div>
		</div>
	</div>
</form>
