<% layout('layouts/boilerplate') %>
<div class="col">
	<h1>Menu</h1>
	<div class="row g-2">
		<% for(let day of days){ %>
		<div class="row mb-3">
			<h2 class="text-center"><%=day%></h2>
			<% for(let product of products){ %> <%if(product.combo === day){ %>
			<div class="col-sm-12 col-md-4">
				<div class="card mb-3 pt-3 border-0 shadow-sm p-3 mb-5 bg-body rounded">
					<img src="<%= product.image %>" class="card-img-top" />
					<div class="card-body">
						<h5 class="card-title"><%=product.name %></h5>
						<p class="card-text text-muted"><%= product.ingredients%></p>
					</div>
				</div>
			</div>
			<% } %> <% } %>
			<div class="d-flex flex-row justify-content-center mb-3">
				<a class="btn btn-md btn-success btnStartOrder" href="#">Add to Cart</a>
			</div>
		</div>
		<% } %>
	</div>
</div>
